.wrap-comments
	.menu-comments
		span.comments comments (55)
		a(href="/") 
			i.fa.fa-close.fa-lg
	.comment_list 
		.comment
			.avatar 
				img(src='http://fillmurray.com/40/40')
				p.user user3240234 - 3hs ago
				p.comment Lorem Iasdfaasfasodfjoasdf  df df df df df df df df df df df df df df df df df df df df df df df
		.comment
			.avatar 
				img(src='http://fillmurray.com/40/40')
			p.user user3240234 -  3hs ago
			p.comment Lorem Iasdfaasfasodfjoasdf  df df df df df df df df df df df df df df df df df df df df df df df
		.comment
			.avatar 
				img(src='http://fillmurray.com/40/40')
			p.user user3240234 -  3hs ago
			p.comment Lorem Iasdfaasfasodfjoasdf  df df df df df df df df df df df df df df df df df df df df df df df
		.comment
			.avatar 
				img(src='http://fillmurray.com/40/40')
			p.user user3240234 -  3hs ago
			p.comment Lorem Iasdfaasfasodfjoasdf  df df df df df df df df df df df df df df df df df df df df df df df
