.app
	.wrap-home
		.home_highlight
			h6 Mark Manson
			h1 The </br> Dark Side </br> of the </br> digital </br> Nomad 
			span.travel_button 
				a(href="/app/travel") travel
		.menu-home
			ul
				li 
					a(href="#") close
				li 
					a(href="#") 
						i.fa.fa-ellipsis-h.fa-lg
				li 
					a(href="/app/comments") 
						i.fa.fa-comments.fa-lg