<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,900,200' rel='stylesheet' type='text/css'>
    <script src="https://use.fontawesome.com/708d56aad8.js"> </script>
 

  </head>
  <body>
    {{ content }}
  </body>
</html>
